@import "normalize";
@import "skeleton";
@import "flexslider";
@import "fancybox";
@import "layout";
@import "fullslate";

.admin-bar header {
	margin-top: 32px!important
}

/* #Media Queries
================================================== */

	/* IPAD */
	 @media only screen and (min-width: 768px) and (max-width: 1024px) {
		 .container {
			 width: 90%;
		}
		.ribbon-wrapper-appointment{
			display: none;
		}
		ul.check li {
			margin-bottom: 4px
		}
		h2 {
			font-size: 36px !important;
		}

		.featurepost .m_item .m_overlay h2 {
			font-size: 18px !important;
		}
		.flex-control-paging {
			display: none;
		}
		#primary-nav ul {
			margin-top: 17px;
			li{
				padding: 0 6px;
				line-height: 24px;
				font-size: 14px;
			}
		}
		#title {
			margin-top: 17px
		}
		#tagline {
			display: none;
		}
		.strava {
			display: none;
		}
		#secondary-nav {
			float:right;
			margin-top:-20px;
			ul {
				li {
					font-size: 14px;
					padding: 0 4px;
					line-height: 18px;
				}
			}
		}

		footer input#mce-EMAIL {
		width: 130px;
		}

		footer input#mce-MMERGE4 {
		width: 65px;
		}
	}

	/* IPHONE */
	@media only screen and (min-width: 320px) and (max-width: 568px) {
		body[data-menu-position="open"] {
			header {
				position: absolute!important
			}
		}
		header {
			height:80px;
		}
		.ribbon-wrapper-appointment{
			display: none;
		}
		.ribbon-wrapper-scheduling{
			display: none
		}
		nav#primary-nav,
		nav#secondary-nav {
			display:none;
		}

		.page-template-page-service-php #tagline p,
		.page-template-page-about-php #tagline p,
		.page-template-page-team-php #tagline p {
			border-bottom: none
		}
		.strava {
			display: none;
		}
		#tagline {
			padding-right: 4px;
			p {
				width:100%;
				text-align: right;
			}
		}

		#title{
			text-align: right;
			margin-top: 15px;
			a {
				span {
					letter-spacing: 3pt;
					font-size: 24px
				}
			}
		}

		#mobile-open {
			display: block;
		}

		span.caption {
		 display: none
		}

		h1.small {
			font-size: 30px !important;
			line-height: 35px;
		}
		h2 {
			font-size: 24px !important;
		}
		h2.pickup {
			margin-top:90px;
			font-size: 24px !important;
			line-height: 24px;
		}
		h2.lab {
			margin-top:90px;
			font-size: 24px !important;
			line-height: 24px;
		}
		.highlight {
		font-size: 18px;
		margin-top:10px;
		}

		.page .bg .single {
			margin-top:40px;
		}

		h3{
		font-size: 21px !important;
		line-height: 24px;
		}

		.container .columns.featurepost {
		margin-bottom: 30px;
		}

		#feature {
			height: 230px;
			padding-top: 80px;
		}

		#feature .flexslider {
			height: 235px;
		}

		#feature .flexslider .slides img {
			height: 225px;
			margin-left: -450px
		}

		#controls {
			display: none
		}

		.title {
			position: relative;
			padding-top: 10px;
		}

		.title p {
			font-size: 18px !important;
			line-height: 28px;
		}

		img.stampsoon {
			width: 110px;
			top: 0;
			right: 10px;
			margin-top:-15px;
		}
		.panel {
			max-width: 320px;
		}
		p.quote {
		font-size: 16px;
		line-height: 24px;
		}

		p.quoter {
		top: 107px;
		}

		#review-banner {
		margin-top: 40px
		}
		#review-banner p {
			padding: 10px 10px 0 20px;
		}

		#survey {
			padding:50px 0;
		}

		#survey input[type="text"], #survey input[type="email"], #survey textarea{
			width:90%;
		}

		ul.list ul {
			margin-left: 5px
		}

		.headings {
			margin-top:40px;
		}

		div.fs-booking-choices a,
		div.fs-booking-choices a:visited{
			font-size: 0.9em;
			background-image:none;
			text-indent: 0
		}
		div.fs-option-summary {
			font-size: 0.8em
		}
		div.fs-embed .fs-openings th {
			padding:10px 0;
		}
		.fs-openings-mobile dt{
			padding: 5px 0;
			font-size: 1em;
			color: #000
		}
		.fs-openings-mobile dt em {
			display: none;
		}

		.fs-embed .fs-instructions {
			display: none
		}
		.wrap-back {
			 display: none
		 }
		.columns .post {
		margin-bottom: 15px;
		}

		.intro-line {
			display: none;
		}
		.bg {
			padding-top: 80px
		}
		.separator2 {
			height:200px;
		}

		.separator2 .bg3{
			height: 200px;
		}

		h4.footer {
			padding-bottom:10px;
		}

		footer {
			.copyright {
				p {
					text-align: center!important;
					line-height: 20px;
					font-size: 14px
				}
			}
			.row:first-child {
				.columns{
					&:not(:last-child) {
						border-left: none;
					}
					&.none {
						display:none!important;
					}
					&.three, &.two {
						width:50%;
						padding-left:0!important

					}
				}
			}
		}

		footer form {
			height: 55px;
		}

		footer input#mce-EMAIL{
			width: 140px;
		}
		footer input#mce-MMERGE4 {
			width: 65px;
		}

		footer #signup p {
			display: none;
		}
	}

	@media only screen and (min-width: 1100px) {
		.separator1 .bg, #intro .bg1 {
			background-attachment: fixed !important;
		}
	}
	@media only screen and (max-width: 1050px) {
		.hoverimage {
			display: none !important;
		}
	}
