h1, h2, h3 {
	 font-family: 'din-black';
}

h1 {
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
	margin-left: 8px;
}

h1.small {
	font-size: 53px;
	margin-bottom: 30px;
	line-height: 63px;
}

h2 {
	font-size: 1em;
	color: #000;
	text-transform: uppercase;
	line-height: 1.5em;
}

h3 {
	font-size: 30px;
	color: grey;
	padding-bottom: 30px;
}

h4 {
	font-family: 'din-medium', sans-serif;
	font-size: 18px;
	color: grey;
}

h5 {
	font-family: 'din-medium', sans-serif;
	font-size: 24px;
	color: #434343;
}

p, body {
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: grey;
}


/* HEADER & NAV
================================================== */

header {
	background: #000;
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 85px;
}
.container::before, .container::after{
	display: block
}
.header-inner {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

#title {
	position: relative;
	background: transparent;
	float: left;
	z-index: 1200;
	display: block;
	margin-top: 15px;
	margin-bottom: 0;
}

h1#title a {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	display: block;
	font-size: 34px;
	line-height: 1;
	position: static;
}

h1#title a:hover {
	color:#de8d23;
}

nav ul li{
	display: inline-block;
}

nav a {
	color: #fff;
	font-weight: 300;
	text-decoration: none;
}

nav .current_page_item a,nav .current_page_item a:visited,nav .current_menu_item a,nav .current_menu_item a:visited{
	color: #de8d23;
}

nav a:visited {
	color: #fff;
}

nav a:hover,nav a:focus {
	color: #de8d23;
	-webkit-transition: color 500ms ease 0s;
	-moz-transition: color 500ms ease 0s;
	-ms-transition: color 500ms ease 0s;
	-o-transition: color 500ms ease 0s;
	transition: color 500ms ease 0s;
}

/* Primary nav */

#primary-nav ul{
	margin: 22px 0 0 0;
	float:right;
}

#primary-nav ul li {
	margin: 0;
	line-height: 30px;
}

#primary-nav a{
	text-transform: uppercase;
	padding: 0 15px;
	font-size:16px;
	font-weight: 700;
	letter-spacing: -0.08em
}

#primary-nav .indicator{
	margin-right: -10px;
	float: right;
}

#primary-nav .indicator div {
	background: none repeat scroll 0 0 #de8d23;
	top: 0px;
	height: 8px;
	position: absolute;
	-webkit-transition-property: margin-left,width;
	-moz-transition-property: margin-left,width;
	-o-transition-property: margin-left,width;
	transition-property: margin-left,width;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	-moz-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	-o-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	visibility: hidden;
}

#primary-nav .indicator.on div {
	visibility: visible;
}

#primary-nav .indicator div.item235 {
	width: 79px;
	margin-left: 2px
}

#primary-nav .indicator div.item294 {
	margin-left: 105px;
	width: 125px;
}
#primary-nav .indicator div.item502 {
	margin-left: 257px;
	width: 45px;
}
#primary-nav .indicator div.item317 {
	margin-left: 330px;
	width: 52px;
}
#primary-nav .indicator div.item238 {
	margin-left: 411px;
	width: 45px;
}
#primary-nav .indicator div.item66 {
	margin-left: 490px;
	width: 40px;
}
#primary-nav .indicator div.item767 {
	margin-left: 560px;
	width: 40px;
}

#primary-nav li:last-child a {
	padding-right: 0;
}


/* Secondary nav */

#secondary-nav ul{
    margin: 5px 0 0 0;
    line-height: 24px;
    float: right;
}

#secondary-nav ul li {
	margin: 0;
}

#secondary-nav ul li:last-child {
	margin-right:-15px;
}

#secondary-nav a {
	padding: 0 12px;
	font-size: 14px;
	position: relative;
	text-transform: uppercase;
	z-index:1200
}

#secondary-nav .indicator{
	float: right;
	margin-right:-12px;
}

#secondary-nav .indicator div {
	height: 4px;
	background: #000;
	position: absolute;
	top: 33px;
	-webkit-transition-property: margin-left,width;
	-moz-transition-property: margin-left,width;
	-o-transition-property: margin-left,width;
	transition-property: margin-left,width;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	-moz-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	-o-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
	transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
}

/* Service */

.page-template-page-service-php #secondary-nav .indicator div { 
	width: 57px;
}
#secondary-nav .indicator div.item426 {
	width: 57px;
}
#secondary-nav .indicator div.item231{
	margin-left:83px;
	width:52px;
}
#secondary-nav .indicator div.item232{
	margin-left:164px;
	width:54px;
}
#secondary-nav .indicator div.item230{
	margin-left:246px;
	width:63px;
}
#secondary-nav .indicator div.item233{
	margin-left:246px;
	width:49px;
}
#secondary-nav .indicator div.item391{
	margin-left:323px;
	width:115px;
}

/* about */
.page-template-page-about-php #secondary-nav .indicator div { 
	width: 133px;
}
#secondary-nav .indicator div.item67{
	width:133px;
}
#secondary-nav .indicator div.item496{
	margin-left:165px;
	width:93px;
}
#secondary-nav .indicator div.item236{
	margin-left:287px;
	width:74px;
}
#secondary-nav .indicator div.item299{
	margin-left:392px;
	width:71px;
}


/* team */
.page-template-page-team-php #secondary-nav .indicator div { 
	width: 87px;
}
#secondary-nav .indicator div.item237{
	width:86px;
}
#secondary-nav .indicator div.item242{
	margin-left:116px;
	width:79px;
}
#secondary-nav .indicator div.item241{
	margin-left:224px;
	width:86px;
}

#tagline p {
	font-size: 15px;
	font-family: 'din-regular';
	padding:4px 0 5px 10px;
	line-height: 24px;
	margin:0;
	width: 185px;
	font-style: oblique;
	color: #fff;
}

.page-template-page-service-php #tagline p, .page-template-page-about-php #tagline p, .page-template-page-team-php #tagline p {
	border-bottom: 4px solid #000;
}

/* MOBILE NAV */


#mobile {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

span.logo-w {
	background: url(images/logo-headingW.png)no-repeat 0 0;
	display: block;
	float: left;
	height: 50px;
	width: 30px;
	margin: 15px 17px;
	clear: left;
}

#mobile-open {
	display: none;
	position: absolute;
	height: 30px;
	width:30px;
	text-indent: -9999px;
	background-color: #000;
	text-indent: -999em;
	top: 7px;
	z-index: 1400;
	left:0;
}

#mobile-open:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
	border-top: 15px double #fff;
	border-bottom: 5px solid #fff;
}

#jPanelMenu-menu ul.sub-menu li a {
	padding-left: 30px;
}

#jPanelMenu-menu ul.sub-menu li:last-child {
	padding-bottom: 30px;
}

/* =Mobile Menu Navigation */

#jPanelMenu-menu {
	background: url(images/bg-dark.jpg) repeat !important;
	position: fixed;
	top: 0;
	left: 0;
}

#jPanelMenu-menu ul{
	margin:0;
	padding: 0;
	width: 200px;
	position: relative;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}


#mobile-nav ul li {
	display: block;
	width: 100%;
	position: relative;
	float: left;
	border-top: 1px solid #484848;
	text-transform: uppercase;
	margin: 0;
}

#jPanelMenu-menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	float: left;
}

#mobile-nav ul li a {
	padding: 1em 17px 1em;
	font-size: 16px;
	text-transform: uppercase;
	border-left: 4px solid #fff;
}

#mobile-nav ul li.current-menu-item a {
	border-left: 4px solid #de8d23;
}
#mobile-nav ul li ul li a{
	text-transform: none;
	padding: 0.7em 5% 0.7em;
	border: none;
}

/**** Global settings ******/
#wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px;
}

#container {
	padding: 115px 0 30px;
	min-height: 600px;
}

.row [class*="span"]:first-child {
  margin-left: 0;
}

#menuside {
	background-color: white;
	z-index: 3;
	padding: 0 10px 10px;
}
#menuside.affix{
	margin-left: 720px;
	top: 85px
}
#menuside.affix-bottom{
    top: auto;
	position: absolute;
	margin-left: 720px;
	bottom: -60px;
	z-index: 3;
 }

/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto;}
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .container .four.columns                    { width: 220px; }
    .container .eight.columns                   { width: 460px; }
    .container .twelve.columns                  { width: 700px; }
    .container .one-third.column                { width: 300px; }

     /* Nested Column Classes */
    .column.alpha, .columns.alpha             { margin-left: 0; }
    .column.omega, .columns.omega             { margin-right: 0; }
    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .container .four.columns                    { width: 172px; }
        .container .eight.columns                   { width: 364px; }
        .container .twelve.columns                  { width: 556px; }
        .container .one-third.column                { width: 236px; }
        .row {
	    margin-left: -20px;
	    *zoom: 1;
		}
		.row:before,
		.row:after {
		display: table;
		line-height: 0;
		content: "";
		}
		.row:after {
		clear: both;
		}
		[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
		}
		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
		width: 724px;
		}
		.span12 {
		width: 724px;
		}
		.span11 {
		width: 662px;
		}
		.span10 {
		width: 600px;
		}
		.span9 {
		width: 538px;
		}
		.span8 {
		width: 476px;
		}
		.span7 {
		width: 414px;
		}
		.span6 {
		width: 352px;
		}
		.span5 {
		width: 290px;
		}
		.span4 {
		width: 228px;
		}
		.span3 {
		width: 166px;
		}
		.span2 {
		width: 104px;
		}
		.span1 {
		width: 42px;
		}
		.offset12 {
		margin-left: 764px;
		}
		.offset11 {
		margin-left: 702px;
		}
		.offset10 {
		margin-left: 640px;
		}
		.offset9 {
		margin-left: 578px;
		}
		.offset8 {
		margin-left: 516px;
		}
		.offset7 {
		margin-left: 454px;
		}
		.offset6 {
		margin-left: 392px;
		}
		.offset5 {
		margin-left: 330px;
		}
		.offset4 {
		margin-left: 268px;
		}
		.offset3 {
		margin-left: 206px;
		}
		.offset2 {
		margin-left: 144px;
		}
		.offset1 {
		margin-left: 82px;
		}

    }
     @media only screen and (max-width: 320px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }
        .container .four.columns,
        .container .eight.columns,
        .container .twelve.columns,
        .container .one-third.column,
        .container .sixteen.columns{ width: 300px; }
    }
    @media (min-width: 1200px) {
	  .row {
		  margin-left: -20px;
		  *zoom: 1;
		}

		.row:before,
		.row:after {
		  display: table;
		  line-height: 0;
		  content: "";
		}

		.row:after {
		  clear: both;
		}

		[class*="span"] {
		  float: left;
		  min-height: 1px;
		  margin-left: 20px;
		}

		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
		  width: 940px;
		}

		.span12 {
		  width: 940px;
		}

		.span11 {
		  width: 860px;
		}

		.span10 {
		  width: 780px;
		}

		.span9 {
		  width: 700px;
		}

		.span8 {
		  width: 620px;
		}

		.span7 {
		  width: 540px;
		}

		.span6 {
		  width: 460px;
		}

		.span5 {
		  width: 380px;
		}

		.span4 {
		  width: 300px;
		}

		.span3 {
		  width: 220px;
		}

		.span2 {
		  width: 140px;
		}

		.span1 {
		  width: 60px;
		}

		.offset12 {
		  margin-left: 980px;
		}

		.offset11 {
		  margin-left: 900px;
		}

		.offset10 {
		  margin-left: 820px;
		}

		.offset9 {
		  margin-left: 740px;
		}

		.offset8 {
		  margin-left: 660px;
		}

		.offset7 {
		  margin-left: 580px;
		}

		.offset6 {
		  margin-left: 500px;
		}

		.offset5 {
		  margin-left: 420px;
		}

		.offset4 {
		  margin-left: 340px;
		}

		.offset3 {
		  margin-left: 260px;
		}

		.offset2 {
		  margin-left: 180px;
		}

		.offset1 {
		  margin-left: 100px;
		}
}



/***** FORMS *****/

input, input:focus { color: #232323;  background-color: #e5e5e5;; border: 10px solid #e5e5e5; }

select, input[type="text"], input[type="password"], input[type="email"],input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus { 
	color: #232323;  
	background-color: #e5e5e5; 
	border: 10px solid #e5e5e5; 
	margin-bottom: 10px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}


.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	color: #232323;  
	background: #e5e5e5; 
	border: 5px solid #e5e5e5; 
	border-radius:0;
	font-family: 'din-medium',sans-serif;font-weight:600;
	text-transform:uppercase;
	font-size:0.7em;
	text-shadow: none;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	color: #fff;  
	background: #000; 
	border: 5px solid #000; 
	border-radius:0;
}

.button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	color: #fff;  
	background: #000; 
	border: 5px solid #000; 
	border-radius:0;
	padding: 8px 10px;
}

.span9.submitblock {
	margin-left:0;
}


legend  {  color: #a1a1a1;  }
a, a:visited {  color: #000000;}
a:hover {   color: #000000; }
.darkbutton, .darkbutton a { background-color: #262626; color: white;  }
#wishlistdisplay .span3.darkbutton.spaceafter, #wishlistdisplay .span3.darkbutton.spaceafter a {
padding-bottom: 0;
height: 30px;
}
.lightbutton, .lightbutton a {  background-color: #7f7f7f; color: white; }
.smalldarkbutton {  background-color: #262626; color: white; }
.smalllightbutton {  background-color: #7f7f7f; color: white; }
.smalldarkbutton a, .smalllightbutton a { color: white; }

/***** Login/Logout button *****/
.popupsmall {width: 325px;}
.ui-dialog .ui-dialog-content {padding:0 22px;}
#login, #login a { background-color: #262626; color: white;  position: relative;}
#login:hover{opacity: 0.8}
/***** Navigation (Products dropdown) and tabs *****/
#nav_products .arrow {
	margin:-2px 0 0 0;
}
#nav_products li {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.05em;
	color: #000;
}

#menubar { height:40px;border-bottom: 1px solid #ddd;}
.menuunderline:hover { border:none;}
.menuunderline a:hover { border-bottom: 5px solid #000000;}
.menuheight a { 
	height: 33px;
	display: inline-block;
	text-transform: uppercase;
	padding: 0;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.08em;
}

#menutabs {
	margin-left:0;
}
.menutab {
	font-family: 'din-medium', sans-serif;
	font-weight:700;
	list-style: none;
}

#nav_products ul a { color: white; border-bottom: 1px solid #d8d8d8;}
#nav_products ul li ul li a { background: #2c2c2c; border-bottom: 1px solid #d8d8d8; font-size:14px;}
#nav_products ul li ul li a:hover { background: #2c2c2c; border-bottom: 1px solid #d8d8d8; color:grey; }

#searchentry .search_advanced img{ padding-left: 45px;padding-top: 10px;}
hr {margin: 10px 0 10px;}

/***** Breadcrumbs ******/
.breadcrumbs {  color: grey; border-bottom:none;padding:0;margin:5px 0 30px;}
.breadcrumbs a { color: grey; padding:0 10px;font-size: 0.8em;}
.breadcrumbs img {
width: 30px;
height: 45px;
float: left;
margin-top: -12px;
margin-right: 0px;
margin-left: 8px;
}
/***** Product Grid *****/

span.logo {
	display: block;
	float: left;
	height: 45px;
	width: 30px;
	background: url(images/logo-headingB.png)no-repeat 0 0;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #464c5b;
	margin-right: 20px;
}

h1.shop{
	font-size: 40px;
	margin-bottom: 30px;
}
p.shop {
	font-size: 24px;
	line-height: 30px;
	color: grey;
	position: relative;
	z-index: 150;
	padding-left: 7px
}

#gridheader h1 {
	margin-left: 5px;
}

span.shopbanner {
	display: block;
	margin-bottom:25px;
	border-radius:15px;
	overflow: hidden;
	max-width:680px;
	max-height: 95px;
}

.product_cell { border: none ; min-height: 285px !important;}
.product_cell_graphic {border:1px solid #ddd;}
.product_cell_graphic:hover{
	-moz-box-shadow: 0 2px 8px #b7b7b7;
	-webkit-box-shadow: 0 2px 8px #b7b7b7;
	box-shadow: 0 2px 8px #b7b7b7;
}
.product_cell_label  { color: #262626;height: 50px; }
.product_cell_label .product_cell_price_slash { color: #7f7f7f;}
.product_cell a { color: #ffffff;}
.product_cell_label a { color: #9c9c9c;font-size: 0.8em;}
.product_cell img {margin-top:0;}

/***** Pagination *****/
#paginator {border-top:1px solid #ddd;}
#pagination a {color: #888888;  }
#pagination li.page.selected, #pagination li.page.selected a {color: white;display:inline-block;background-color:#262626;padding:5px; }
#pagination li { color: #c7c7c7; }

#pagination li.first, #pagination li.previous, #pagination li.last, #pagination li.next{font-size:0.8em;}
/***** Search Box *****/
#searchentry { border-bottom: none; margin-top: -4px;}
#searchentry .search_box {padding-left:10px;}
#searchentry .search_left img {padding-right:12px;}
#searchentry .search_box input { font-family: 'din-medium', sans-serif;font-weight:600;color: #000; border: 0px; border-color: transparent; background-color: white;padding:.5em; }
#searchentry .search_box input[type="text"]:focus{background-color:#000;color:white;}
#searchentry .searchTextBox .searched { color: #000000; }

/***** Mini Cart (right side shopping cart) *****/

#shoppingcart {
margin-top: 15px;
border-top: 5px solid #000;
padding: 15px 0 0;}
.remove-bottom {
padding-top: 5px !important;
}
#shoppingcarttop .carticon {
	background: url(images/shoppingcart.png) no-repeat top right;
	height: 30px;
	width: 30px;
	margin-bottom: 6px;
	margin-top: -6px;
}
#shoppingcarttop .minicart_item { border-top: 1px solid #bbbbbb; }
#shoppingcarttop .minicart_price {font-size: 0.9em;margin-left: 0;}
#shoppingcarttop .emptymessage {  color: #000; }
#shoppingcartbottom { border-top: 1px solid #bbbbbb;}
#shoppingcartbottom .cart_price {font-size:1em}

    /* checkout button */
#shoppingcartcheckout { background-color: #262626; color: white; position: relative;}
#shoppingcartcheckout:hover {opacity: 0.8}
#shoppingcartcheckout .checkoutlink a { color: white; text-decoration: none;}
    /* edit cart button */
#shoppingcarteditcart {  background-color: #7f7f7f; color: white;  position: relative;}
#shoppingcarteditcart:hover{background-color: #262626}
#shoppingcarteditcart .editlink a { color: white; }
    /* continue shopping button */
#shoppingcartcontinue { background-color: #7f7f7f;color: white;height: 18px;padding: 7px 11px 13px;font-size: 0.8em;float: right;}
#shoppingcartcontinue .editlink a { color: white;}
#shoppingcartcontinue:hover{background-color: #262626}
/**** Generic Cart is used both on checkout and on the Edit Cart screen ****/
#genericcart .cartdecor { color: #aaaaaa; }
/* when editing cart */
#genericcart {margin-bottom: 20px}
#genericcart input[type="text"],#genericcart input[type="text"]:focus { background-color: white; border-bottom: 1px solid black;font-size: 1em }

#shoppingcartcheckoutmobile{display: none}
/***** Sidebar Modules *****/

#sidebar .containers {padding:14px 0;}
#sidebar .containers input[type="text"]{width:205px;}
#sidebar .clickbar { color: #555555; border: 1px solid #ddd; width: 99%;float: none;}
#sidebar .clickbar:hover {background-color:#e8e8e8;}
#sidebar label{padding-top:10px;}

/***** Product Details Page *****/

#product_details .title {
word-wrap: normal;
z-index:3;
}
#product_details h1 {margin-left:0;} 
#product_details h2 a{
	color:grey;
	z-index: 3;
	position: relative;}
#product_details h3 { color: #a1a1a1; }
#product_details .price {
font-size: 1em;
margin-top: 20px;
z-index: 3;
position: relative;
}
#product_details .price_reg { color: #555555;}
#product_details .productheader {
margin-bottom: 60px;
margin-top: 20px;
}

#product_details #SelectSize ,#product_details #SelectColor {
	font-size: 0.8em;
	margin-right: 15px;
	margin-bottom:12px;
	position: relative;
}

#product_details .addcart { background-color: #7f7f7f; color: white; font-size: 0.8em; position: relative;padding: 10px 0;height: 20px;margin-left:15px;}
#product_details .addcart a { color: white;}
#product_details .addcart:hover{background-color:#000;}
#product_details .wishlist { background-color: #7f7f7f; color: white; font-size: 0.8em; position: relative;padding: 10px 0;height: 20px;margin-right: 0;}
#product_details .wishlist a {  color: white;}
#product_details .wishlist:hover{background-color:#000;}

#product_details .grid-view table.items tr.odd { background-color: white; }
#product_details .grid-view table.items tr.even { background-color: white; }


#product_details #photos legend { font-size: 0.7em;}
.targetarea img { margin: 0;}
.magnifyarea { box-shadow:none}


/***** Checkout page and Registration Page *****/
#checkout {margin-left:10px}
#checkout h1{margin-left: 0px;}
.row .left10 {margin-left:0px;}

#checkout legend, #contact-form legend { color: #a1a1a1; margin:1em 0; }
#checkout .warning, #checkout .errorMessage, #contact-form .warning, #contact-form .errorMessage { color: #dd0000; }
#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus { border: 7px solid #E5E5E5; font-size: 0.8em; }
#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form input[type="select"],#contact-form input[type="text"]:focus,#contact-form input[type="password"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="select"]:focus { border: 7px solid #E5E5E5; }
#checkout .red,#contact-form .red, .customer_reg_err_msg { color: #dd0000; }
#checkout fieldset { border-bottom: 1px solid #ddd; margin-left:0px;}
#checkout label {margin-bottom: 5px;}
#checkout #PromoLabel { color: #007700; }
#checkout #CheckoutForm_cardCVV {
width: 40px;
}
#checkout h1.white {color:#fff;padding-left:1em;}
#shipping .shippingmethod .module{background-color: #000;min-height: 150px;}
#shipping .shippingmethod .module p{padding: 0 1.4em; text-align: left;color:#fff;}
#shipping .shippingmethod .module p a {color: #fff;text-decoration: underline}

.booknow {
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	padding-top:20px;
}

.buttonbook {
background: #000;
border: 0;
color: #fff;
display: inline-block;
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
text-decoration: none;
cursor: pointer;
line-height: normal;
padding: 8px 16px;
font-family: 'din-medium', sans-serif;
margin:0 0 30px 0;
}

a .arrow, .arrow{
font-family: Arial,sans-serif;
font-style: normal;
padding:0 10px;
}

.buttonbook:hover {
color: #3a3a3a;
background: #e8e8e8;
border: 0;
}

.forgotpassword { color: #ff0000; }
.ui-dialog {display:none;}
.ui-widget input[type="text"] {font-size:0.8em;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-widget-content.ui-corner-all {
	border:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:0;
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header { 
	background:#000; color:#fff; 
	border:none; 
	border-radius:0;
	margin-bottom: 10px;
	padding: 10px 20px;
}
span#ui-id-2.ui-dialog-title {
	font-family: 'din-medium', sans-serif;
	font-weight:600;
	text-transform: uppercase;
	margin-left: 10px
}
.ui-dialog .ui-dialog-titlebar-close span {
	background-image: url(images/ui-icons_ffffff_256x240.png);
}

.login label {
font-size: 0.8em;
}

.shortrow {
margin-bottom: 2px;
margin-left: 10px
}

.row {
	margin-left:0;
}

/***** Messages from system *****/
.msg { color: #252525; }

/***** Order/SRO/Quote Display *****/
#orderdisplay .cartlabel, #orderdisplay .label { background-color: white; color: black; }
#orderdisplay input[type="text"],#genericcart input[type="text"]:focus { background-color: white;border-bottom: 1px solid black; }
#orderdisplay fieldset { border-bottom: 1px solid #ddd;margin-left: 8px}
#orderdisplay legend {margin-bottom:1em;}

.subcategories {
margin-left: 5px;
}
.subcategories a {
	font-size:0.8em;
	background-color: #7f7f7f;
	color: white;
	padding:5px;
	text-decoration: none;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.subcategories a:hover{
	background-color: #000!important;
}

.myaddress .default {font-size: 0.8em;font-weight: 400}

#wishlistdisplay .rowborder { 
	border-bottom: 1px solid #aaaaaa;
	margin: 20px 0 0;
	padding-bottom: 15px;
}
#wishlistdisplay .heading {
font-size: 1em;
}
#wishlistdisplay .event_date {
    margin-top: -10px;
}
#wishlistdisplay .link .disabled {color: #cccccc; background-color: #ffffff;}
#wishlistdisplay .addcart {  background-color: #262626; color: white; margin: 0 5px;}
#wishlistdisplay .addcart a { color: white;}
#wishlistdisplay .sharelist { background-color: #7f7f7f; color: black; margin: 0 5px;}
#wishlistdisplay .sharelist a { color: white; }

#wishlistdisplay .editwish a { color: white; text-transform: uppercase; font-size: 0.8em;}

#btnWishListDelete { background-color: #ff9c59;}
#wishlistdisplay .btnDelete { background-color: #ff9c59;}


#wishlistsearch .alpha {
	margin-top:10px;
}
#wishlistsearch .submitblock {
	margin-left:0;
} 

#custom_content {
	padding-left: 8px;
	font-size: 24px;
	margin-top:30px;
}
/****** jCarousel skin ******/
.summary {
margin-bottom: 10px;
}

.span7.slider{
	margin-left:0;
	width:560px;
}

.jcarousel-skin-slider .jcarousel-container{
	background:#FFFFFF;
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
	border-left:none;
	border-right:none;
	border-radius: 0;
	padding: 40px 40px 10px 40px;
}

.jcarousel-skin-slider .jcarousel-clip-horizontal {
	width: 100%;
	height: auto;
}

.jcarousel-skin-slider .jcarousel-item {
	height: auto;
	margin-bottom: 0
}

.jcarousel-skin-slider .caption {
	color: #9c9c9c;
	font-size: 0.8em;
	text-transform: uppercase;
	max-width: 180px;
	text-align: center;
	letter-spacing: -0.05em;
}

.jcarousel-skin-slider .jcarousel-item-placeholder{
	background:#fff;
	color:#000
}

.jcarousel-skin-slider .jcarousel-prev-horizontal, .jcarousel-skin-slider .jcarousel-next-horizontal {
	background: transparent url(images/bg_direction_nav.png) no-repeat 0 0;
	width:15px;
	height: 25px;
	top:95px;
}

.jcarousel-skin-slider .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-slider .jcarousel-next-horizontal:hover{
	opacity:0.7;
}

.jcarousel-skin-slider .jcarousel-prev-horizontal:hover{
	background-position: 0 0;
}

.jcarousel-skin-slider .jcarousel-next-horizontal,
.jcarousel-skin-slider .jcarousel-next-horizontal:hover {
	background-position: -15px 0;
}
.jcarousel-skin-slider .jcarousel-item img:hover{
	-moz-box-shadow: 0 2px 8px #b7b7b7;
	-webkit-box-shadow: 0 2px 8px #b7b7b7;
	box-shadow: 0 2px 8px #b7b7b7;
}

/****** CART IFRAME ******/
.scpopup {display: none}
#sciframe {
position: absolute;
right: 10px;
top: 85px;
}
iframe#cartiframe{
	border-style: none;
	width: 216px; 
	height: 116px;
	overflow: hidden;
	border-bottom:2px solid black;
	border-left:2px solid black;
	border-right:2px solid black;
}
body.iframe #topbar {display: none}
body.iframe #menubar {display: none}
body.iframe #container {padding:0}
body.iframe .span9 {display: none}
body.iframe #menuside {
	position:absolute !important;
	top:0;
	left:0;
	width: 190px;
	margin-top: -30px;
	margin-left: 12px;
}
body.iframe .title {font-size:0.8em;}
body.iframe #shoppingcarttop .carticon{display: none}
body.iframe #shoppingcarttop .minicart_item{display: none}
body.iframe #shoppingcartbottom {padding:10px 0 0}
body.iframe #shoppingcartbottom .cart_label{text-align: left;width:80px;float: left}
body.iframe #shoppingcartbottom .subtotallabel {font-size:0.7em;}
body.iframe #shoppingcartbottom .cart_price {font-size: 0.8em;float: right;width: 50px;}
body.iframe #shoppingcartcheckout {padding: 5px;margin-bottom:20px;}
body.iframe #shoppingcartcheckout .checkoutlink a {font-size:0.8em;}
body.iframe #shoppingcarteditcart {display: none}

/* #FOOTER
================================================== */
#wrapper:after {
  content: "";
  display: block;
  height:255px;
}

#footer {
    width: 100%;
    position: relative;
    margin: 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
    padding: 40px 0 0 0;
    background: url(images/bg-dark.jpg) repeat !important;
}

#footer input[type="email"] {
	background: url(images/cont-form-bg.jpg) repeat;
	color: #fff;
	position: relative;
	padding: 10px 10px 5px;
	font-size: 12px ;
	font-family: 'din-regular', sans-serif;
	height: 25px;
	max-width: 100%;
	display: inline-block;
	border:0;
	margin-bottom: 20px;
}
#footer input[type="text"]:focus,#footer input[type="password"]:focus,#footer input[type="email"]:focus,#footer textarea:focus {
	color:#fff;
}

#footer input[type="text"] {
	background: url(images/cont-form-bg.jpg) repeat;
	color: #fff;
	position: relative;
	padding: 10px 10px 5px;
	font-size: 12px ;
	font-family: 'din-regular', sans-serif;
	height: 25px;
	max-width: 100%;
	display: inline-block;
	border:0;
	margin-bottom: 20px;
}

#footer input#mce-EMAIL{
	width:220px;
}
#footer input#mce-MMERGE4{
	width:80px;
}

#footer #signup p{
	font-size:12px;
	margin-bottom: 0;
}
#footer input[type="submit"] {
	background: #e8e8e8;
	border: none;
	padding: 14px 10px 8px;
	color: #464c5b;
	display: inline-block;
	font-family: 'din-black',Helvetica,Arial,sans-serif;
	margin-left: 5px;
	font-size: 12px;
	-webkit-appearance: none;
}

#footer input[type="submit"]:hover{
	color: #a69153;
	background: transparent;
	border: 0;
}
#footer form{
	margin-bottom:10px;
	height: 45px;
}


#footer .one-third{
	border-left:1px solid #858585;
	min-height: 150px;
	padding-left: 15px;
	padding-right: 30px;
}
#footer .one-third.social{
	float:right;
	padding-right:0;
	margin-right: 0;
}

#footer .social ul {
	margin-bottom: 0;
	text-align: right;
}

.social ul li {
	display: inline-block;
	margin-right: 5px;
}

.social img:hover {
	opacity: 0.7;
}

#footer .copyright {
	border-top: 1px solid #858585;
	padding-top: 10px;
	margin: 30px auto 0;
	text-align: left;
	text-transform: none;
}

#footer .copyright  .one-third {
	border-left:none;
	min-height:0;
	padding: 0 0 20px 0;
}

}
#footer .copyright p {
	color: #fff;
	font-size: 14px;
	text-align: left;
	padding-bottom: 45px;
}

h4.footer{
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	color: #fff;
	padding-bottom: 16px;
}

#footer ul {
	list-style: none outside;
	margin:0 0 20px 0;
}

#footer ul li a{
	font-size:13px;
}

#footer p {
	font-size: 13px;
	margin-bottom: 13px;
	color: #f9f9f9;
}

#footer a {
	color:#fff;
	text-decoration: none;
}

#footer a,footer a:visited {
	color:#fff;
}

#footer a:hover {
	color: #de8d23;
}

/* #Media Queries
================================================== */
	
	/* IPAD */
	 @media only screen and (min-width: 700px) and (max-width: 1024px) {
		#checkout label, #contact-form label {
		font-size: 0.7em;
		margin: 5px 0 0 0;
		}
		#primary-nav a{
			padding: 0 8px;
		}
		#primary-nav .indicator div.item235 {
			width: 69px;
			margin-left: 0px
		}

		#primary-nav .indicator div.item294 {
			margin-left: 90px;
			width: 116px;
		}
		#primary-nav .indicator div.item790{
			margin-left: 222px;
		}

		#primary-nav .indicator div.item317 {
			margin-left: 283px;
		}

		#primary-nav .indicator div.item238 {
			margin-left: 352px;
		}

		#primary-nav .indicator div.item66 {
			margin-left: 412px;
			width: 42px;
		}

		#primary-nav .indicator div.item767 {
			margin-left: 473px;
			width: 42px;
		}
		#menuside.affix-top{
			position:relative;
			margin-left: 28px;
			top: 0;
			width:182px
		}
	 	#menuside.affix{
	 		position:relative;
			margin-left: 28px;
			top: 0;
			width:182px
		}
	 	#menuside.affix-bottom{
	 		position:relative;
			margin-left: 28px;
			top: 0;
			width:182px
	 	}
		#shoppingcartcontinue{
			font-size:0.6em;
		}
		#login img{
			display: none
		}

		#footer input#mce-EMAIL {
		width: 175px;
		}

		#footer input#mce-MMERGE4 {
		width: 55px;
		}

		#footer .one-third {
		padding-left: 6px;
		padding-right: 6px;
		}
		#checkout h1.white {
		padding: 1em 0 0 1em;
		line-height:1em;
		font-size: 1.3em
		}
		#checkout p{font-size: 0.8em}
		#shipping .shippingmethod .module {
		min-height: 165px;
		}
	}

	/* IPHONE */
	@media only screen and (min-width: 320px) and (max-width: 568px) {
		header  {
			position: absolute;
			height:80px;
		}
		span.shopbanner {
			max-height:100px;
			height:auto;
		}

		#menubar {
			display: none;
		}

		form#ShoppingCart {
			text-align: right
		}

		#genericcart .span3{
			width:35%;
			float:left;
			text-align: left
		}
		#genericcart .span1, #genericcart .span2{
			width:13%;
			float:left;
		}

		#genericcart input[type="text"]{
			width:45px;
		}

		#genericcart .sub .span2.cart_price, #genericcart .ship .span2.cart_price, #genericcart .total .span2.cart_price{
			width:100%;
			font-size:1.7em;
		}
		#cartTaxes .span2.cart_price{
			width:100%;
			font-size:1.7em;
		}

		#genericcart {
			font-size:0.6em;
		}

		.errorMessage{
			text-align: left
		}

		#shoppingcartcontinue{
			height:auto;
		}

		#shoppingcartcheckoutmobile{
			display: block;
			background-color: #262626;
			color: white;
			position: relative;
			clear: both;
			height: auto;
			padding-top: 12px;
			padding-bottom: 10px;
			text-align: center;
			margin-top: 10px;
			cursor: pointer;
			text-transform: uppercase;
		}
		#shoppingcartcheckoutmobile a{
			color: white;
			text-decoration: none;
		}
		#checkout input[type="text"]{
			margin-bottom: 10px
		}
		#checkout #CheckoutForm_orderNotes{
			width:90%;
		}
		
		nav#primary-nav, nav#secondary-nav {
		display:none;
		}

		#tagline p {
			width:100%;
			text-align: center;
			margin-left:-10px;
		}

		#title{
			width: 60%;
			text-align: center;
			margin: 15px auto 0;
			position: static;
			float: none
		}

		h1#title a{
			pointer-events: none;
   			cursor: default;
		}

		h1#title a {
			cursor:none;
		}

		h1.shop{
			font-size: 30px
		}
		
		p.shop {
			font-size: 18px
		}

		#mobile-open {
			display: block;
		}

		h1.small {
		font-size: 30px !important;
		line-height: 35px;
		}

		h2 {
		font-size: 22px !important;
		line-height: 24px;
		margin-top: 20px;
		margin-bottom:0;
		}

		h3{
		font-size: 21px !important;
		line-height: 24px;
		}

		span.mobileoff{
			display: none
		}
		.product_cell {
			margin-left:0!important;
		}

		#product_details #photos legend {
			display: none
		}

		div.magnifyarea {
			display: none!important;
			z-index:-1!important;
		}
		div.magnifyarea div{
			z-index:-1!important;
		}
		div.zoomtracker{
			display: none;
			z-index:-1!important;
		}

		#product_details .wishlist, #product_details .addcart {
			float: left;
			height: auto;
			margin:0;
			font-size:1em;
			margin-bottom: 10px
		}
		#product_details .productheader{
			margin-bottom: 20px;
		}
		div#yw1-widget {
			display: none
		}
		
		#pagination li.first, #pagination li.previous, #pagination li.last, #pagination li.next{
			display: none
		}

		h4.footer {
		  	padding-bottom:10px;
		}
	
		#footer .columns .none {
			display:none;
		}

		#footer form {
		height: 55px;
		}

		#footer input#mce-EMAIL{
		width: 120px;
		}
		#footer input#mce-MMERGE4 {
		width: 55px;
		}

		#footer #signup p {
			display: none;
		}

		#footer p {
		margin-bottom: 5px;
		}

		#footer .one-third {
			padding-top: 10px;
			min-height: 90px;
		}
		
		#footer .copyright  {
			margin: 25px auto 0;
		}

		#footer .copyright a {
			margin-right: 20px;
		}
	}

/* #Font-Face
================================================== */

@font-face {
    font-family: 'din-black';
    src: url('fonts/din_black-webfont.eot');
    src: url('fonts/din_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_black-webfont.woff') format('woff'),
         url('fonts/din_black-webfont.ttf') format('truetype'),
         url('fonts/din_black-webfont.svg#din_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din-medium';
    src: url('fonts/din_medium-webfont.eot');
    src: url('fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_medium-webfont.woff') format('woff'),
         url('fonts/din_medium-webfont.ttf') format('truetype'),
         url('fonts/din_medium-webfont.svg#din-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din-regular';
    src: url('fonts/din_regular-webfont.eot');
    src: url('fonts/din_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_regular-webfont.woff') format('woff'),
         url('fonts/din_regular-webfont.ttf') format('truetype'),
         url('fonts/din_regular-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
