.fs-embed .fs-button {
	display:none
}

.fs-embed .fs-instructions {
	display:none
}
.fs-embed .fs-footer {
	display: none
}

div.fs-booking-choices {
	background:#000;
	color: #fff;
	padding: 1em;
}

div.fs-booking-choices h3{
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
}

div.fs-booking-choices a, 
div.fs-booking-choices a:visited {
	color: #000;
	background-color: #fff;
	padding: .5em .8em;
	display: inline-block;
	text-decoration: none;
	background-image: url(../images/book-arrow.jpg);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	text-indent: 20px;
	margin-right:10px;
	font-size: 1.2em;
	text-transform: uppercase;
}

div.fs-booking-choices a:hover{
	color:#ddd
}

div.fs-option-summary {
	padding: 5px 0 20px;
}


.single h6.special {
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #de8d23;
	padding: 1em;
	clear: both;
}

.single h4 {
	font-family: 'din-medium', sans-serif;
	font-size: 21px;
	color: #de8d23;
	line-height: 30px;
}

.fs-primary-description {
	padding:1em 0;
}

.fs-embed .fs-booking-state th {
	line-height: 2em;
	font-size: 1.1em;
	vertical-align: text-top!important;
}

span.fs-selected-value {
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #ddd;
	padding: .3em .5em;
	clear: both;
}

.fs-embed .fs-openings td.fs-openings-nav {
	padding:0 1em !important;
	border: none !important;
	vertical-align: middle!important
}
.fs-embed span.fs-openings-prev,
.fs-embed span.fs-openings-next {
	background-position: 0!important;
}

.fs-embed .fs-openings-next, 
.fs-embed .fs-openings-prev {
	width :30px !important;
	height:50px !important;
}

.fs-embed .fs-openings-prev {
	background-image: url(../images/arrow-left.png)!important;
}

.fs-embed .fs-openings-next{
	background-image: url(../images/arrow-right.png)!important;
}

.fs-embed .fs-openings th {
	background: transparent !important;
	border:1px solid #000 !important;
	padding: .5em .5em;
}

.fs-embed .fs-openings td, .fs-embed .fs-openings th {
	border:1px solid #000 !important;
}

body .fs-embed a.fs-service-opening {
	color: #fff;
	background-color: #000;
	padding: .3em .5em;
	display: inline-block;
	text-decoration: none;
}
.fs-embed .fs-openings td {
	min-height: 80px
}

.fs-embed .fs-openings {
	margin-bottom: 20px!important
}

.fs-embed form th {
	vertical-align: top !important
}