/* Table of Content
==================================================
	#Typography
	#Buttons
	#Generic Styles
	#Separators
	#Nav
	#Intro
	#Work
	#Services
	#About
	#Contact
	#Media Queries
	#Font-Face */

/* #Typography
================================================== */

h1, h2, h3 {
	 font-family: 'din-black';
}

h1 {
	color: #000;
	font-size: 120px;
	text-transform: uppercase;
	position: relative;
	z-index: 150;
	margin-bottom: 70px;
}

h1.small {
	font-size: 53px;
	margin-bottom: 30px;
	line-height: 63px;
}

h2 {
	font-size: 40px;
	color: #000;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}

h3 {
	font-size: 30px;
	color: grey;
	padding-bottom: 30px;
}

h4 {
	font-family: 'din-medium', sans-serif;
	font-size: 18px;
	color: grey;
}

h5 {
	font-family: 'din-medium', sans-serif;
	font-size: 24px;
	color: #434343;
}

p, body {
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: grey;
}

/* Appointment page */
/*.page-template-page-appointment-php .single .eight.columns {
	width: 428px;
	background-color: #000;
	min-height: 225px;
	padding: 1em;
	margin-top: 30px;
	margin-bottom: 20px;
}
.page-template-page-appointment-php .single h3 {
	color: #fff;
	border-bottom:1px solid #fff;
	margin-bottom:20px;
	margin-top:0;
}
.page-template-page-appointment-php .single h4 {
	font-family: 'din-medium', sans-serif;
	font-size: 21px;
	color: #de8d23;
	line-height: 30px;
}
.page-template-page-appointment-php .single h6{
	font-family: 'din-medium', sans-serif;
	font-size: 21px;
	color:#fff;
	background-color:#de8d23;
	padding:1em;
	clear: both;
}
.page-template-page-appointment-php .single h5 {
	font-family: 'din-medium', sans-serif;
	font-size: 18px;
	color: white;
	line-height: 30px;
}

.page-template-page-appointment-php .single .buttonbook a {
	color:#000;
}
.page-template-page-appointment-php .single .buttonbook a:hover {
	color:#ddd;
}
*/


p.schedule{
	float: left;
	margin-top: 4px;
}
p.location {
	float: left;
	font-size:13px;
	color: #000!important;
	margin-bottom:10px;
}
p.location a {
	color: #de8d23;
	font-size:14px;
}

p.agreement{
	float: left;
	font-size: 13px;
	color: #000;
	padding-top: 10px;
	margin-bottom: 0;
}

p.agreement a {
	color: #de8d23;
}

.highlight {
	font-size: 24px;
	color: #de8d23;
	line-height: 30px;
}

.page h2 {
	margin-top: 20px;
}

.page-template-default h2, .page-template-page-full-php h2 {
	margin-bottom: 20px;
}

.page h2 {
	margin-top: 20px;
}

.overlay h2 {
    padding: 10px 0 0;
    margin-bottom: 10px;
}

.headings {
	margin: 20px 0;
	display: block;
}

.noheadings {
	margin-top: 30px
}

.sidebar h3 {
	font-weight: normal;
	margin-bottom: 15px;
}

.sidebar h3 {
	font-weight: normal;
	margin-bottom: 15px;
}

span.homefee{
	color:grey;
}

.dark-bg p, .dark-bg {
	color: #f9f9f9;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5 {
	color: #FFF;
}

span.lines {
border-bottom: 1px solid #aeaeae;
}


span.logo {
	display: block;
	float: left;
	height: 45px;
	width: 30px;
	background: url('../images/logo-headingB.png')no-repeat 0 0;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #464c5b;
	margin-right: 20px;
}

.dark-bg span.logo {
	background: url('../images/logo-headingW.png')no-repeat 0 0;
}

span.logo-w {
	background: url('../images/logo-headingW.png')no-repeat 0 0;
	display: block;
	float: left;
	height: 50px;
	width: 30px;
	margin: 15px 17px;
	clear: left;
}

span.left {
		float: left
}
span.right {
	float: right
}

a .arrow {
	font-family: Arial,sans-serif;
	font-style: normal;
	padding-left: 10px;
}


/* #review
================================================== */

.single.review {
	margin-left: 10px;
	margin-right: 10px;
}

#review-banner{
	background: #000;
	padding: 0;
	margin-bottom: 25px;
	z-index: 1;
	position: relative;
}

#review-banner img.scale-with-grid {
	padding-left: 20px;
}

#review-banner p {
	padding: 25px 0 0 20px;
	color: #fff;
}

#review-banner a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	background: #de8d23;
	margin-top: 9px;
	display: inline-block;
}

/*#survey {
	border-top:2px solid #000;
	padding: 95px 0;}

#survey h2{
	position: relative;
	background: #fff;
	display: block;
}

#survey h4 {
	font-family: 'din-medium', sans-serif;
	font-size: 21px;
	color: #de8d23;
	line-height: 30px;
	margin-bottom: 25px
}

#survey p img {
    width:auto;
}
#survey label, span.wpcf7-list-item-label {
	font-size: 13px;
	color: #000;
	margin-right: 14px;
}

#survey input[type="text"], #survey input[type="email"] {
	width: 300px;
	border: 1px solid #000;
	padding: 6px 4px;
	outline: none;
	font: 13px 'din-medium', sans-serif;
	color: #000;
	margin: 0;
	max-width: 100%;
	display: block;
	background: #fff;
}
#survey select {
	color: grey;
	width: 150px;
	margin-bottom: 5px;
	border: 1px solid #000;
	background: #FFF url('../images/select.png') no-repeat right 0;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 6px;
}

#survey input[type="checkbox"]{
	border: 1px solid #000;
	border-radius: 0;
	background: #fff;
	margin: 0 20px 0 -13px;
}
#survey span.wpcf7-list-item {
	margin-left:0;
}
#survey textarea {
	width: 97%;
	border: 1px solid #000;
	padding: 10px;
	min-height: 120px;
	color: #000;
	margin-top:8px;
}

#survey input[type="submit"]{
	padding: 10px 14px;
	display: inline-block;
	font-family: 'din-black',Helvetica,Arial,sans-serif;
	font-size: 12px;
	-webkit-appearance: none;
}
#survey div.wpcf7-mail-sent-ok {
	clear: both;
	margin: 0;
	padding: 0.5em 1em;
}

#survey div.wpcf7-validation-errors {
	clear: both;
	margin: 0;
	padding: 0.5em 1em;
}
*/
/* Quote Slider
================================================== */
.quote-container {
	margin-bottom: 50px
}
.quote-slider {
    max-width: 100%;
}

.panel {
    width: 100%;
}

p.quote {
   color: grey;
	font-size: 26px;
	margin: 0;
	font-weight: 600;
   line-height: 30px;
   height: 125px;
}

p.quoter {
    color: grey;
    left: 0;
    text-transform: uppercase;
    top: 100px;
    position: absolute;
    z-index: 1200;
    line-height: 20px;
    margin-top: 0;
}

.quote-nav-left a, .quote-nav-right a {
    display: block;
    text-decoration: none;
}

.quote-nav-left, .quote-nav-right {
    float: left;
}

.quote-nav-right a {
    background: url("../images/bg-coda-right.jpg") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin-right: 0px;
    padding: 0;
    text-indent: -9000px;
    width: 30px;
    margin-top: 10px;
}

.quote-nav-left a {
    background: url("../images/bg-coda-left.jpg") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin-top: 10px;
    margin-right: 1px;
    padding: 0;
    text-indent: -9000px;
    width: 30px;
}

/* #Buttons
================================================== */

.button1,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #000;
	border: 0;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 8px 16px;
	font-family: 'din-medium', sans-serif; 
	-webkit-appearance: none; 
}

.button1:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #3a3a3a;
	background: #e8e8e8;
	border: 0; 
}

.button1:active
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	color: #3a3a3a;
	background: #e8e8e8;
	border: 0;
}

.signup .button1 {
	color: #3a3a3a;
}

.buttonbook {
	background: #000;
	border: 0;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	line-height: normal;
	padding: 8px 16px;
	font-family: 'din-medium', sans-serif; 
	margin-bottom: 5px;
}

.buttonbook:hover {
	color: #3a3a3a;
	background: #e8e8e8;
	border: 0; 
}

.buttonbook a {
	color: inherit;
	text-decoration: none;
}

/* Fix for odd Mozilla border & padding issues */
.button1::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea {
	color:#000;
	border: 1px solid #000;
}

select {
color: grey;
margin-bottom: 5px;
border: 1px solid #000;
background: #FFF url('../images/select.png') no-repeat right 0;
-webkit-appearance: none;
border-radius: 0;
padding: 6px;
}
/* #Generic Styles
================================================== */

.action {
	margin-top: 50px;
	padding: 40px 0 0 0;
	text-align: center;
/*	border-top: 1px solid #d3d3d3;*/
}

.action p {
	font-size: 22px;
	font-weight: 600;
	color: #515151;
}

.dark-bg .action p {
	color: #ececec;
}


#wrapper{
	width:100%;
	overflow: hidden;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -255px;
}

 .wrap-back {
 	clear: both
 }

a#back-to-top {
  color: #333;
  border:none;
  text-decoration: none;
	display: block;
	text-align: center;
}

a#back-to-top span{
  font-size: 16px;
  font-family: 'din-black';
  text-transform: uppercase;
}

a#back-to-top:hover{
  color:#de8d23;
}

i.angle-up {
  cursor: pointer;
}

.angle-up:before{
  display: block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 0.5;
  font-size: 48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f106";
}

/* #Separators
================================================== */

p.separator {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	line-height: 34px;
	text-transform: uppercase;
	position: relative;
	z-index: 200;
	text-align: center;
	width: 55%;
	margin: 0 auto;
	padding-top: 200px;
}

.separator1 {
	width: 100%;
	height: 500px;
	position: relative;
}

.separator2 {
	width: 100%;
	height: 300px;
	position: relative;
}

.separator1 .bg {
	background: url(../images/bg2.jpg) repeat center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

.separator2 .bg {
	background: url(../images/bg2.jpg) repeat center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

.separator1 .bg2 {
	background: url(../images/bg2.jpg) repeat top;
}

.separator1 .bg3 {
	background: url(../images/bg3.jpg) repeat top;
}

.separator1 .bg4 {
	background: url(../images/bg4.jpg) repeat top;
}

.separator2 .bg2 {
	background: url(../images/bg2.jpg) repeat top;
	height: 300px;
}

.separator2 .bg3 {
	background: url(../images/bg3.jpg) repeat top;
	height: 300px;
}

.separator2 .bg4 {
	background: url(../images/bg4.jpg) repeat top;
}



/* HEADER & NAV
================================================== */

header {
	background: #000;
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 85px;
}

.header-inner {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

#title {
	position: relative;
	background: transparent;
	float: left;
	z-index: 1200;
	display: block;
	margin-top: 15px;
	margin-bottom: 0;
}

h1#title a {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	display: block;
	font-size: 34px;
	line-height: 1;
	position: static;
}

h1#title a:hover {
	color:#de8d23;
}

nav ul li{
	display: inline-block;
}

nav a {
	color: #fff;
	font-weight: 300;
	text-decoration: none;
}

nav .current_page_item a,nav .current_page_item a:visited,nav .current_menu_item a,nav .current_menu_item a:visited{
	color: #de8d23;
}

nav a:visited {
	color: #fff;
}

nav a:hover,nav a:focus {
	color: #de8d23;
	-webkit-transition: color 500ms ease 0s;
	-moz-transition: color 500ms ease 0s;
	-ms-transition: color 500ms ease 0s;
	-o-transition: color 500ms ease 0s;
	transition: color 500ms ease 0s;
}

/* Primary nav */

#primary-nav ul{
	margin: 22px 0 0 0;
	float:right;
}

#primary-nav ul li {
	margin: 0;
	line-height: 30px;
}

#primary-nav a{
	text-transform: uppercase;
	padding: 0 15px;
	font-size:16px;
	font-weight: 700;
	letter-spacing: -0.08em
}

#primary-nav .indicator{
	margin-right: -10px;
	float: right;
}

#primary-nav .indicator div {
background: none repeat scroll 0 0 #de8d23;
top: 0px;
height: 8px;
position: absolute;
-webkit-transition-property: margin-left,width;
-moz-transition-property: margin-left,width;
-o-transition-property: margin-left,width;
transition-property: margin-left,width;
-webkit-transition-duration: 0.35s;
-moz-transition-duration: 0.35s;
-o-transition-duration: 0.35s;
transition-duration: 0.35s;
-webkit-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
-moz-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
-o-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
visibility: hidden;
}

#primary-nav .indicator.on div {
	visibility: visible;
}

#primary-nav .indicator div.item235 {
	width: 79px;
	margin-left: 2px
}

#primary-nav .indicator div.item294 {
	margin-left: 105px;
	width: 125px;
}
#primary-nav .indicator div.item790{
	margin-left: 257px;
	width: 45px;
}
#primary-nav .indicator div.item317 {
	margin-left: 330px;
	width: 52px;
}
#primary-nav .indicator div.item238 {
	margin-left: 411px;
	width: 45px;
}
#primary-nav .indicator div.item66 {
	margin-left: 490px;
	width: 40px;
}

#primary-nav .indicator div.item767 {
	margin-left: 560px;
	width: 40px;
}

/* Secondary nav */

#secondary-nav ul{
    margin: 5px 0 0 0;
    line-height: 24px;
    float: right;
}

#secondary-nav ul li {
	margin: 0;
}

#secondary-nav ul li:last-child a, #primary-nav ul li:last-child a{
	padding-right:0;
}

#secondary-nav a {
	padding: 0 12px;
	font-size: 14px;
	position: relative;
	text-transform: uppercase;
	z-index:1200
}

#secondary-nav .indicator{
	float: right;
	margin-right:-12px;
}

#secondary-nav .indicator div {
height: 4px;
background: #000;
position: absolute;
top: 33px;
-webkit-transition-property: margin-left,width;
-moz-transition-property: margin-left,width;
-o-transition-property: margin-left,width;
transition-property: margin-left,width;
-webkit-transition-duration: 0.35s;
-moz-transition-duration: 0.35s;
-o-transition-duration: 0.35s;
transition-duration: 0.35s;
-webkit-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
-moz-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
-o-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
}

/* Service */

.page-template-page-service-php #secondary-nav .indicator div { 
	width: 57px;
}
#secondary-nav .indicator div.item426 {
width: 57px;
}
#secondary-nav .indicator div.item231{
	margin-left:83px;
	width:52px;
}
#secondary-nav .indicator div.item232{
	margin-left:164px;
	width:54px;
}
#secondary-nav .indicator div.item993{
	margin-left:246px;
	width:63px;
}
#secondary-nav .indicator div.item230{
	margin-left:246px;
	width:63px;
}
#secondary-nav .indicator div.item233{
	margin-left:337px;
	width:49px;
}
#secondary-nav .indicator div.item391{
	margin-left:415px;
	width:115px;
}

/* about */
.page-template-page-about-php #secondary-nav .indicator div { 
	width: 133px;
}
#secondary-nav .indicator div.item67{
	width:133px;
}
#secondary-nav .indicator div.item496{
	margin-left:165px;
	width:93px;
}
#secondary-nav .indicator div.item236{
	margin-left:287px;
	width:74px;
}
#secondary-nav .indicator div.item299{
	margin-left:392px;
	width:71px;
}


/* team */
.page-template-page-team-php #secondary-nav .indicator div { 
	width: 87px;
}
#secondary-nav .indicator div.item237{
	width:86px;
}
#secondary-nav .indicator div.item242{
	margin-left:116px;
	width:79px;
}
#secondary-nav .indicator div.item241{
	margin-left:224px;
	width:86px;
}
#secondary-nav .indicator div.item803{
	margin-left:340px;
	width:108px;
}

#tagline p {
	font-size: 15px;
	font-family: 'din-regular';
	padding:4px 0 5px 10px;
	line-height: 24px;
	margin:0;
	width: 185px;
	font-style: oblique;
	color: #fff;
}

.page-template-page-service-php #tagline p, .page-template-page-about-php #tagline p, .page-template-page-team-php #tagline p {
	border-bottom: 4px solid #000;
}

/* MOBILE NAV */

#mobile {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#mobile-open {
	display: none;
	position: absolute;
	height: 30px;
	width:30px;
	text-indent: -9999px;
	background-color: #000;
	text-indent: -999em;
	top: 7px;
	z-index: 1400;
	left:0;
}

#mobile-open:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 5px;
	border-top: 15px double #fff;
	border-bottom: 5px solid #fff;
}

#jPanelMenu-menu ul.sub-menu li a {
	padding-left: 30px;
}

#jPanelMenu-menu ul.sub-menu li:last-child {
	padding-bottom: 30px;
}

/* =Mobile Menu Navigation */

#jPanelMenu-menu {
	background: url(../images/bg-dark.jpg) repeat !important;
	position: fixed;
	top: 0;
	left: 0;
}

#jPanelMenu-menu ul{
	margin:0;
	padding: 0;
	width: 200px;
	position: relative;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}


#mobile-nav ul li {
	display: block;
	width: 100%;
	position: relative;
	float: left;
	border-top: 1px solid #484848;
	text-transform: uppercase;
	margin: 0;
}

#jPanelMenu-menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	float: left;
}

#mobile-nav ul li a {
	padding: 1em 17px 1em;
	font-size: 16px;
	text-transform: uppercase;
	border-left: 4px solid #fff;
}

#mobile-nav ul li.current-menu-item a {
	border-left: 4px solid #de8d23;
}
#mobile-nav ul li ul li a{
	text-transform: none;
	padding: 0.7em 5% 0.7em;
	border: none;
}

/* #Feature Home 
================================================== */

#feature {
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
	position: relative;
	padding-top: 85px;
}

#feature h1 {
	color: #FFF;
}

#feature .flexslider {
	margin: 0;
	height: 540px;
	width: 100%;
	position: absolute;
	text-align: center;
}

#feature .flex-direction-nav {
    display: none;
}

#feature .flex-viewport {
	max-height: 590px;
}
#feature .flexslider .slides img {
	display: block;
	height: 500px;
	left: 50%;
	position: absolute;
	margin-left: -1000px;
	width: auto;
}

span.caption {
	text-align: left;
	display: block;
	padding-left: 30px;
	height: 20px;
	margin-top: 10px;
	top: 500px;
}
.slides a {
	text-decoration: none;
}

#controls {
	margin-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
	top: 498px;
}

#controls .flex-control-nav {
	height: 20px;
	text-align: right;
	position: relative;
	margin: 10px 0;
	bottom: 0;
}

#controls .flex-control-paging li a {
    border-left: 1px solid #d8d8d8;
    text-indent: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 2px 8px;
    height: 15px;
}


.title {
	position: relative;
	width: 100%;
	text-align: left;
	z-index: 300;
	margin-top: 30px;}

.intro-line {
	position: relative;
	z-index: 150;
	border-top: 1px solid #d8d8d8;
	margin: 0 auto 30px auto;
}

.title p {
	font-size: 24px;
	line-height: 30px;
	color: grey;
	position: relative;
	z-index: 150;
}


/* #separator
================================================== */

.bg {
	position: relative;
	background-color: #FFF;
	z-index: 300;
	padding: 105px 0 30px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

.dark-bg {
	background: url(../images/bg-dark.jpg) repeat !important;
}


p.mid-text {
	margin-top: 40px;
}


/* IMG & hover overlay 
================================================== */
img.stampsoon {
	width: 175px;
	position: absolute;
	top: 0;
	right: 92px;
	margin-top: -18px;
}

.home img.scale-with-grid {
	padding: 0;
}

img.scale-with-grid {
	width: 100%
}

.featurepost {
	margin-bottom: 30px
}

.featurepost .m_item {
	cursor: pointer;
	float: left;
}

.featurepost .m_item .m_overlay {
	opacity: 0;
	position: absolute;
	z-index: 1;
	text-align: left;
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align: center;
	display: table
}

.featurepost .m_item .m_overlay h2 {
	font-family: 'din-black';
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	position: relative;
	margin: 0 0 0 10px;
	padding: 10px 20px;
	line-height:24px;
	display: table-cell;
	vertical-align: middle;
}

.featurepost .m_item .m_overlay h3 {
	font-family: 'din-black';
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	margin: 0 0 0 10px;
	padding: 10px 20px;
	line-height:24px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.ribbon-wrapper-home {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon-home {
  font-family: 'din-black';
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -9px;
  top: 25px;
  width: 170px;
  background-color: #de8d23;
  color: #fff;
}

.ribbon-home:before, .ribbon-home:after {
  content: "";
  position:absolute;
}

.ribbon-home:before {
  left: 0;
}
.ribbon-home:after {
  right: 0;
}

.ribbon-wrapper-appointment {
  width: 260px;
  height: 270px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
}

.ribbon-appointment {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -45px;
  top: 45px;
  width: 445px;
  background-color: #de8d23;
  color: #fff;
  height: 40px;
}

.ribbon-appointment h3{
	font-family: 'din-black';
  	color: #fff;
	text-align: center;
	position: relative;
	margin: 2px 75px;
	text-transform: uppercase;
}

.ribbon-appointment:before, .ribbon-home:after {
  content: "";
  position: absolute;
}

.ribbon-appointment:before {
  left: 0;
}
.ribbon-appointment:after {
  right: 0;
}

.ribbon-wrapper-scheduling {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.ribbon-scheduling {
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  	left: -85px;
	top: -30px;
	width: 260px;
	background-color: #de8d23;
	color: #fff;
	height: 120px;
}

.ribbon-scheduling p{
	color: #fff!important;
	text-align: center;
	position: relative;
	margin: 57px 61px;
	font-size: 14px!important;
	width: 125px;
	line-height: 15px;
	font-size:12px;
}
.ribbon-scheduling p span{
	font-family: 'din-black';
	font-size: 15px!important;
}

.ribbon-scheduling:before, .ribbon-scheduling:after {
  content: "";
  position: absolute;
}

.ribbon-scheduling:before {
  left: 0;
}
.ribbon-scheduling:after {
  right: 0;
}
/* end hover overlay */


/* #FOOTER
================================================== */
#wrapper:after {
  content: "";
  display: block;
  height:255px;
}

footer {
    width: 100%;
    position: relative;
    margin: 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
    padding: 40px 0 0 0;
}

footer input[type="email"] {
	background: url(../images/cont-form-bg.jpg) repeat;
	color: #fff;
	position: relative;
	padding: 10px 10px 5px;
	font-size: 12px ;
	font-family: 'din-regular', sans-serif;
	height: 25px;
	max-width: 100%;
	display: inline-block;
	border:0;
}
footer input[type="text"]:focus,footer input[type="password"]:focus,footer input[type="email"]:focus,footer textarea:focus {
	color:#fff;
}

footer input[type="text"] {
	background: url(../images/cont-form-bg.jpg) repeat;
	color: #fff;
	position: relative;
	padding: 10px 10px 5px;
	font-size: 12px ;
	font-family: 'din-regular', sans-serif;
	height: 25px;
	max-width: 100%;
	display: inline-block;
	border:0;
}

footer input#mce-EMAIL{
	width:220px;
}
footer input#mce-MMERGE4{
	width:80px;
}

footer #signup p{
	font-size:12px;
	margin-bottom: 0;
}
footer input[type="submit"] {
	background: #e8e8e8;
	border: none;
	padding: 14px 10px 8px;
	color: #464c5b;
	display: inline-block;
	font-family: 'din-black',Helvetica,Arial,sans-serif;
	margin-left: 5px;
	font-size: 12px;
	-webkit-appearance: none;
}

footer input[type="submit"]:hover{
	color: #a69153;
	background: transparent;
	border: 0;
}
footer form{
	margin-bottom:10px;
	height: 45px;
}

footer  .one-third{
	border-left:1px solid #858585;
	min-height: 150px;
	padding-left: 15px;
	padding-right: 30px;
}
footer  .one-third.social{
	float:right;
	padding-right:0;
}

footer .social ul {
	margin-bottom: 0;
	text-align: right;
}

.social ul li {
	display: inline-block;
	margin-right: 5px;
}

.social img:hover {
	opacity: 0.7;
}


.copyright {
	border-top: 1px solid #858585;
	padding-top: 10px;
	margin: 30px auto 0;
}
.copyright  .one-third {
	border-left:none;
	min-height:0;
	padding: 0 0 20px 0;
}

}
.copyright p {
	color: #fff;
	font-size: 14px;
	text-align: left;
	padding-bottom: 45px;
}

h4.footer{
	font-family: 'din-medium', sans-serif;
	font-size: 16px;
	color: #fff;
	padding-bottom: 16px;
}

footer ul li a{
	font-size:13px;
}

footer p {
	font-size: 13px;
	margin-bottom: 13px;
}

footer a {
	color:#fff;
	text-decoration: none;
}

footer a,footer a:visited {
	color:#fff;
}

footer a:hover {
	color: #de8d23;
}


/* #Wordpress related css
================================================== */

.wp-caption {
	max-width: 100%;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 6px 2px 0;
}
.wp-caption-text {
    font-size: 11px;
    padding: 0 4px 5px;
}
.aligncenter {
	display: block;
    margin: 0 auto;
}
.alignleft { 
	float: left;
	margin: 0px 10px 10px 0px; 
}
.alignright { 
	float: right;
	margin: 0px 0px 10px 10px; 
}
.sticky {
}
.single-navigation {
	position: relative;
	z-index: 1000;
}
.single-navigation .prev {
    float: left;
}
.single-navigation .next {
    float: right;
}
.gallery-caption {

}

.single h2 {
	margin: 39px 0 22px;
}

p.singlemeta {
	text-align: center;
	margin-bottom: 30px;
	font-size: 21px;
}

.tags {
	padding: 5px 0 15px;
}

.tags a {
	text-transform: none;
	text-decoration: none;
    color: inherit;
}

.page-template-blog-php h2, .category h2 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.
ul.list {
	display:block;
	position:relative;
	padding:0px;
	margin-bottom:-1px;
	list-style-type: none;
}
ul.float {
	float:left;
	width:50%;
	list-style-type: none;
}
ul.list li {
	padding:4px 0px 5px 0;
	width:auto;
	border-bottom:1px solid #ddd;
}
ul.float li {
	margin-right:20px;
}
ul.bullet li {
	padding:4px 0px 5px 21px;
	background:url(../images/list-dot.jpg) no-repeat 1px 13px;
}
ul.check li {
	padding:4px 0px 5px 21px;
	background:url(../images/list-check.png) no-repeat 1px 11px;
}

.page-template-page-appointment-iframe-php ul.check li {
	padding:3px 0px 3px 20px;
	margin-bottom: 4px;
	font-size: 12px
}

.page-template-page-appointment-iframe-php ul.check  {
	margin-bottom: 8px;
}

.page-template-page-appointment-iframe-php p {
	margin-bottom: 4px;
	color: #de8d23;
}

/* slideshow brands */
#slideshow-wrap{
    float: left;
    width: 180px;
   	background-color: #000;
	margin-right: 30px;
	height:700px;
}
.slideshow {
	height:480px;
}

#slideshow-wrap a img{
	padding:10px 0;
	max-width:180px;
	width:auto;
	height:auto;
}

#prev, #next{
	background: transparent url(../images/bg_direction_nav.png) no-repeat 0 0;
	width: 25px;
	height: 15px;
	position: relative;
	display: block;
	text-indent: -9999px;
	left:73px;
}
#prev{
	opacity: 0;
	margin-top:115px;
	margin-bottom: 15px
}

#next{
	margin-top: 30px;
	background-position: 0 -15px;
}

.post {
	margin-bottom: 15px;
}
.post h3, .sidebar h3 {
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 9px;
}

.post h3 a {
	font-weight: normal;
	text-decoration: none;
}

.post p.line2nd {
    color: #7F7F7F;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 11px;
}

.wp-caption-text {
margin-bottom: 0 !important;
}

.wp-caption {
text-align: center !important;
}

.padding-bottom {
    padding-bottom: 10px;
}

.container .column, .container .columns {
	max-width: 100%;
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/* font-face
-------------------------------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'din-black';
    src: url('fonts/din_black-webfont.eot');
    src: url('fonts/din_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_black-webfont.woff') format('woff'),
         url('fonts/din_black-webfont.ttf') format('truetype'),
         url('fonts/din_black-webfont.svg#din_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din-medium';
    src: url('fonts/din_medium-webfont.eot');
    src: url('fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_medium-webfont.woff') format('woff'),
         url('fonts/din_medium-webfont.ttf') format('truetype'),
         url('fonts/din_medium-webfont.svg#din-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din-regular';
    src: url('fonts/din_regular-webfont.eot');
    src: url('fonts/din_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_regular-webfont.woff') format('woff'),
         url('fonts/din_regular-webfont.ttf') format('truetype'),
         url('fonts/din_regular-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}